/* ESTILOS GENERALES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("/IMAGENES/background.jpg");
  
  color: #fff;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.titulo-centrado {
  text-align: center;
}
